
    body {
        color: black;
        font-family: Helvetica;
    }
    /* Tete */
    .header{
        display: flex;
        justify-content: space-around;
    }
     /* dimension image Airbnb */
    .logo img{
        height: 50px;
        width: 100px;
        font-size: 20px;
        object-fit:contain;
        margin-right: 30px;
    } 
    /* Search */
.bar{
    width:430px;
    height:45px;
    border-radius:100vw;
    font-size:14px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    border:#d3d3d3 solid 1px;
  }
     /* Séparation search */
  .bar div{
    padding:0.8rem 1.5rem;
    transition:background 250ms ease;
  }

  .location.check-in{
    width: 50px;
  } 
  .guests{
    width: 100px;
    position: relative; 
  }
  .bar p{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .guests span{
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
    background:#FF385C;
    color:white;
    font-size:0.8rem;
    padding:0.7rem;
    border-radius:50%;
  }

  .bar:hover{
    box-shadow: 2px 2px 2px #d3d3d3;
  }
  .bar>div{
    position:relative;
    
  }
  .bar>div::before{
  position:absolute;
  content:"";
  left:0;
  top:50%;
  transform:translateY(-50%);
  width:1px;
  height:55%;
  background:hsl(0 0% 90%);
}
   
/* End search */

    /* Logo planete */
    .world img{
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      .world img{
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    .world:hover{
        width: 30px;
        height: 30px;
        color: #d3d3d3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    /* conteneur du comptre + options */
      .login{
        width:80px;
        height:40px;
        border-radius:100vw;
        display:flex;
        justify-content:center ;
        align-items:center;
        font-size:14px;
        border:#d3d3d3 solid 1px;
      }
      #traits{
        width: 23px;
        height: 23px;
        margin-left: 10px;
      }
      .login img{
        width: 35px;
        height: 35px;
        object-fit: contain;
        flex-flow: wrap;
        margin: 5px;
      }
      .login:hover{
        box-shadow: 2px 2px 2px #d3d3d3;
      }

    /* Slider */
    .fixed{
    height: auto;
    display: flex;
    justify-content: space-around;
    }
    .fixed img{
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    .slide{
        height: 10px;
    }

 /* Image + desc */
    .global {
        display: flex;
    }
    /* Une image Un text */
    .box{
        margin: 33px;
        align-items: flex-start;
    }
    .box img {
        width: 285px;
        height: 285px;
        object-fit: cover;
        border-radius: 15px;
       }

           /* ---Média Partie Image + Texte--- */
           @media only screen and (max-width: 580px) {
            .global {
              background-color: lightblue;
              /* width: 100%; */
            }
          }
